* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 32px;
}
.main_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-template-rows: repeat(2, 600px);
  grid-auto-rows: 700px;
  max-width: 1300px;
  margin: auto;
}
.main_container > section {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo_container {
  background-color: black;
  color: white;
}
.logo_container > div > a {
  color: white;
  width: 300px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  transition-duration: 0.5s;
  margin: 10px;
}
.logo_container > div > .home:hover {
  background-color: #607d8b;
}
.logo_container > div > .work:hover {
  background-color: #009688;
}
.logo_container > div > .resume:hover {
  background-color: #616161;
}
.logo_container > div > .contact:hover {
  background-color: #795548;
}
@media only screen and (max-width: 1300px) {
  .main_container {
    grid-template-columns: 1fr;
  }
}
.about_container {
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #607d8b;
}
.about_container > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 75%;
  width: 80%;
}
.about_container div > img {
  border-radius: 500px;
  width: 250px;
  height: auto;
}
.work_container {
  background-color: #f1f1f1;
  max-width: auto;
}
.work_container > div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}
.work_container > div > img {
  height: 150px;
  width: 300px;
}
.resume_container {
  background-color: #3f51b5;
}
.resume_container > h2 {
  color: white;
}
.resume_container > p {
  color: white;
}
.resume_container > table {
  border-collapse: collapse;
  margin: 2rem 5rem;
}
.resume_container > table > thead > tr > th {
  color: white;
}
.resume_container > table > tbody > .one {
  background-color: #fff;
  height: 50px;
  width: auto;
}
.resume_container > table > tbody > .one > td {
  padding: 1rem 2rem;
}
.resume_container > table > tbody > .white {
  height: 50px;
  width: auto;
}
.resume_container > table > tbody > .white > td {
  padding: 1rem 2rem;
}
.resume_container > table > tbody > .white {
  height: 50px;
  width: auto;
}
.resume_container > table > tbody > .white > td {
  padding: 1rem 2rem;
}
.resume_container > th,
.resume_container .resume_container td {
  border: 1px solid #333;
  padding: 8px;
}
.resume_container > .resume_container th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.resume_container > .resume_container tr:nth-child(even) {
  background-color: #f9f9f9;
}
.swing_container {
  color: white;
  background-color: #616161;
  text-align: center;
}
.contact_container {
  background-color: #009688;
}
.contact_container > div > h2 {
  text-align: center;
  font-size: 50px;
  color: white;
}
.contact_container > div > p {
  text-align: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.46);
}
.contact_container > div > div {
  height: auto;
  width: auto;
  background: white;
  margin: 1rem;
}
.contact_container > div > div > h5 {
  color: #333;
  font-size: 15px;
  padding: 0.8rem;
}
.contact_container > div div > input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 50px;
  width: 600px;
  margin-left: 0.3rem;
  font-size: 20px;
}
.contact_container > div div > div {
  text-align: right;
}
.contact_container > div div > div > button {
  font-size: 20px;
  height: 40px;
  width: 70px;
  border: none;
  background-color: #009688;
  color: white;
  margin: 1rem;
}
.contact_container > div div > div > button:hover {
  background-color: #989898;
  color: black;
  cursor: pointer;
}
footer {
  display: grid;
  max-width: 1300px;
  margin: auto;
  background-color: black;
  text-align: center;
}
footer > h3 {
  color: white;
  padding: 2rem;
}
